### General Dirs ###
/out
/build

### General Files ###
*.dhsf
*.ini

####################
####################

### Win Dirs ###
.vs/

### Win Files ###
DonHugo.exe

####################
####################

/DonHugo/DonHugo.zip
/Sandbox/results.json
