[submodule "Marx\\vendor\\spdlog"]
	path = Marx\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "Marx/vendor/imgui"]
	path = Marx/vendor/imgui
	url = https://github.com/TecStylos/imgui.git
