[submodule "Marx/vendor/spdlog"]
	path = Marx/vendor/spdlog
	url = https://github.com/TecStylos/spdlog
[submodule "Marx/vendor/imgui"]
	path = Marx/vendor/imgui
	url = https://github.com/TecStylos/imgui
	branch = docking
[submodule "Marx/vendor/glfw"]
	path = Marx/vendor/glfw
	url = git@github.com:TecStylos/glfw.git
	branch = 3.3-stable
[submodule "Marx/vendor/glm"]
	path = Marx/vendor/glm
	url = git@github.com:TecStylos/glm.git
	branch = 0.9.4
