[submodule "Marx/vendor/spdlog"]
	path = Marx/vendor/spdlog
	url = https://github.com/TecStylos/spdlog.git
[submodule "Marx/vendor/imgui"]
	path = Marx/vendor/imgui
	url = https://github.com/TecStylos/imgui.git
	branch = docking
