### General Dirs ###
/out
/build

### General Files ###
*.dhsf
*.ini

####################
####################

### Win Dirs ###
.vs/

####################
####################
results.json
.DS_Store
Marx/.DS_Store
Marx/vendor/.DS_Storee
