### General Dirs ###
/bin/
/bin-int/

### General Files ###
*.dhsf
*.ini

####################
####################

### Win Dirs ###
.vs/

### Win Files ###
*.user

####################
####################

### CodeLite files ###
*.project
*.workspace
compile_flags.*
*.mk
Makefile

### CodeLite dirs ###
.codelite/
